/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --bg-color: rgba(255, 255, 255, 1);
  --title-weight: 700;
  --card-weight: 400;
  --accent-color: rgba(0, 0, 0, 1);
  --gradient-color: #d3d3d3;
  --gradient-top: #e7e7e7;
  --gradient-bottom: #1a1a1a;
  --label-stroke: rgba(255, 255, 255, 1);
  --button-color-hover: rgba(255, 255, 255, 1);
  --heart-contour-color: rgba(0, 0, 0, 1);
  --heart-main-body-color: rgba(255, 0, 0, 1);
  --floppy-color: rgba(255, 255, 255, 1);
  --floppy-dialog-color: rgba(0, 0, 0, 1);
  --text-dialog-color: rgba(255, 255, 255, 1);
}

:root.theme-dark {
  --bg-color: rgba(0, 0, 0, 1);
  --title-weight: 785;
  --card-weight: 465;
  --accent-color: rgba(0, 204, 20, 1);
  --gradient-color: #000;
  --gradient-top: #007f0c;
  --gradient-bottom: #004306;
  --label-stroke: rgba(0, 0, 0, 1);
  --button-color-hover: rgba(0, 204, 20, 1);
  --heart-contour-color: rgba(0, 204, 20, 1);
  --heart-main-body-color: rgba(255, 0, 0, 1);
  --floppy-color: rgba(0, 204, 20, 1);
  --floppy-dialog-color: rgba(0, 204, 20, 1);
  --text-dialog-color: rgba(0, 204, 20, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgba(0, 0, 0, 1);
    --title-weight: 785;
    --card-weight: 465;
    --accent-color: rgba(0, 204, 20, 1);
    --gradient-color: #000;
    --gradient-top: #007f0c;
    --gradient-bottom: #004306;
    --label-stroke: rgba(0, 0, 0, 1);
    --button-color-hover: rgba(0, 204, 20, 1);
    --heart-contour-color: rgba(0, 204, 20, 1);
    --heart-main-body-color: rgba(255, 0, 0, 1);
    --floppy-color: rgba(0, 204, 20, 1);
    --floppy-dialog-color: rgba(0, 204, 20, 1);
    --text-dialog-color: rgba(0, 204, 20, 1);
  }
}